/* scrolling css */
.scrollfade {
  opacity:0;
}

/* body padding for fixed navbar */
body {
  padding-top: 50px;
}

/* Carousel base class */
.carousel {
  /*margin-bottom: 3rem;*/
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}

/* no space for bootstrap column */
.no-space, .grid {
  padding: 0;
  overflow: hidden;
}

/* setting img height for education section */
.education img {
  width: 100%;
  height: 500px;
}

/* project section css */
.mist {
  background-color: #90afc5;
  width: 100%;
  height: 400px;
}

.stone {
  background-color: #336b87;
  width: 100%;
  height: 400px;
}

.shadow {
  background-color: #2a3132;
  width: 100%;
  height: 400px;
}

.project-text {
  top: 50px;
}