/* responsive font */
html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/* scrolling css */
.scrollfade {
  opacity: 0;
}

/* body padding for fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Carousel base class */
.carousel {
  /*margin-bottom: 3rem;*/
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}

/* no space for bootstrap column */
.no-space, .grid {
  padding: 0;
  overflow: hidden;
}

/* setting img height for education section */
.chem {
  background-image: url("../image/chemistry.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}

.compsci {
  background-image: url("../image/code.png");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: 0px -40px;
  width: 100%;
  height: 400px;
}

.chem-text {
  padding-top: 275px;
  z-index: 10;
  color: black;
  text-align: center;
}

.compsci-text {
  padding-top: 240px;
  z-index: 10;
  color: #ffffff;
  text-align: center;
}

/* project section css */
.mist {
  background-color: #90afc5;
  width: 100%;
  height: 400px;
}

.stone {
  background-color: #336b87;
  width: 100%;
  height: 400px;
}

.shadow {
  background-color: #2a3132;
  width: 100%;
  height: 400px;
}

.project-text {
  width: 70%;
  height: 70%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* experience section css */
#experience {
  padding-top: 40px;
  background-color: #F3EFE0;
}

.experience div {
  margin-bottom: 30px;
}

.career-descript p {
  line-height: 20px;
}

span.separator {
  margin-left: 10px;
  margin-right: 10px;
}

/* experience section for small screen */
@media (max-width: 767px) {
  .hidden-phone {
    display: none;
  }

  .experience-misc {
    margin-top: -20px;
  }

  .experience-details > span {
    display: block;
    margin-bottom: 10px;
  }

  .separator {
    display: none;
  }
}

/* footer css */
.nav-footer {
  text-align: center;
}

small.footer {
  display: inline-block;
  float: none;
}

.facebook {
  margin-top: 5px;
}